@model Pitangueira.Model.Entities.Atendimento_

@{
    ViewData["Title"] = "Editar";
}

<div class="container">
    @if (ViewBag.Mensagem != null)
    {
        <div class="alert alert-danger">
            @ViewBag.Mensagem
        </div>
    }
</div>

<h4 class="mt-4"> Editar Atendimento</h4>
<hr />

<div class="container">

    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Atualizar</h3></div>
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="DataExecucao" class="control-label"></label>
                            <input asp-for="DataExecucao" class="form-control" />
                            <span asp-validation-for="DataExecucao" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TipoAtendimentoId" class="control-label"></label>
                            <select asp-for="TipoAtendimentoId" class="form-control" asp-items="ViewBag.TipoAtendimentoId">
                                <option value="">-- Selecione o Tipo --</option>
                            </select>
                            <span asp-validation-for="TipoAtendimentoId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ClienteId" class="control-label"></label>
                            <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId">
                                <option value="">-- Selecione o Cliente --</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="UsuarioId" class="control-label"></label>
                            <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId">
                                <option value="">-- Selecione o Usuario --</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Observacao" class="control-label"></label>
                            <textarea asp-for="Observacao" class="form-control" rows="3"> </textarea>
                            <span asp-validation-for="Observacao" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <input type="submit" value="Atualizar" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
